<div class="header">
  <div class="header-holder">
    <div class="header-left disable-select" (click)="navigateTo('back')">
      <div class="header-left-text disable-select">&#x226A;</div>
    </div>
    <div class="header-center">
      <div class="header-message">{{header | uppercase}}</div>
    </div>
    <div class="header-right disable-select" (click)="openCloseActions()">
      <div class="header-dot"></div>
      <div class="header-dot"></div>
    </div>
    <div class="actions-container">
      <div class="actions-holder" [class.open]="actionStatus && enableActions" [class.close]="!actionStatus && enableActions">
        <div class="action" *ngFor="let action of actions;let i=index" (click)="callAction(action.label,i)">
          <div class="icon" [style.backgroundImage]="'url(assets/pngs/'+action.icon+')'"></div>
          <span class="label">{{action.label}}</span>
        </div>
      </div>
    </div>
  </div>
</div>