<!--<app-header (emitter)="emitter($event)" [params]="params"></app-header>-->
<!--<div class="wrapper">
  <div class="welcome-holder">
    <div class="yellow-box shadow">
      <div class="black-box shadow">
        <div class="line-1"></div>
        <div class="line-2"></div>
        <div class="arrow"></div>
      </div>
      <span class="welcome-text text-shadow">Signout Successfully</span>
      <span class="welcome-footer">&nbsp;</span>
    </div>
  </div>
  <div class="footer">
    <div class="right" (click)="navigateTo('/info')" >Info</div>
  </div>
</div>-->

<app-section (emitter)="emitter($event)" [params]="params"></app-section>