$bg-triangle-color:#b9a2ea;
$bg-color:#C8B3F7;

html, body, .container, .holder{
    box-sizing: border-box;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
}
.bg-top{
    position: absolute;
    top:0;
    width:100%;
    height:100%;
    background: $bg-color;
}
.bg-bottom{
    position: absolute;
    top:0;
    width:0;
    height:0;
    border-top: 0 solid transparent;
    border-bottom: 300px solid transparent;
    border-left: 300px solid $bg-triangle-color;
}